.nfs*

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.ts
model_ts*.txt

# onnx models
*.onnx

# ipython/jupyter notebooks
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode
_darcs

# demo 
**/node_modules
yarn.lock
package-lock.json

# checkpoints
*.lock
*.pt
*.tmp

# data
notebooks/images/
shap_e/examples/example_data/
diffuser_inpainting/test_image/
test_img/

# origin files
segment-anything/
shap-e/
diffuser-inpainting/

# test code
testcode/

# output
output/